
  ::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@layer base {
  .theme {
        --animate-shine: shine var(--duration) infinite linear;
        --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@theme inline {
  @keyframes shine {
  0% {
    background-position: 0% 0%;
        }
  50% {
    background-position: 100% 100%;
        }
  to {
    background-position: 0% 0%;
        }
    }
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
        }
  50%, 100% {
    opacity: 0;
        }
    }
}