@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero Section's text gradient */
.text-gradient {
  background: linear-gradient(120deg,
      #4F46E5,
      /* Indigo 600 - deeper */
      #7C3AED,
      /* Violet 600 */
      #0EA5E9,
      /* Sky 500 */
      #6366F1);
  background-size: 200% 200%;
  animation: textGradientMove 12s ease infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes textGradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 100%;
  }
}


/* Button Gradient */

.btn-gradient {
  background: linear-gradient(135deg,
      #4F46E5,
      #7C3AED,
      #0EA5E9,
      #6366F1);
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
  color: white;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Background Grid CSS */

.interactive-gradient {
  background: radial-gradient(600px circle at var(--x, 50%) var(--y, 50%),
      rgba(34, 211, 238, 0.18),
      transparent 60%);
  transition: background-position 0.2s ease;
}

/* Floating Effect */

.animate-float {
  animation: float 4s ease-in-out infinite;

}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}




@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 6s linear infinite;
}



/* Marquee Component */

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical-reverse {
  from {
    transform: translateY(calc(-100% - var(--gap)));
  }
  to {
    transform: translateY(0);
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-marquee-vertical-reverse {
  animation: marquee-vertical-reverse var(--duration) linear infinite;
}


/* Card Flipping */

.perspective-1000 {
  perspective: 1000px; /* needed for 3D effect */
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-gpu {
  transform-style: preserve-3d; /* allows front/back sides to exist in 3D space */
}
