/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&family=Urbanist:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero gradient animation */
/* @keyframes float {
  0% { transform: translate(0, 0) rotate(0deg); background-position: 0% 50%; }
  50% { transform: translate(20px, 20px) rotate(5deg); background-position: 100% 50%; }
  100% { transform: translate(0, 0) rotate(0deg); background-position: 0% 50%; }
}

@keyframes colorFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */
