@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero Section's text gradient */
.text-gradient {
  background: linear-gradient(
    120deg,
    #393875,
    #02867b,
    #06b6d4,
    #7422ee6a
  );
 background-size: 200% 200%;
animation: textGradientMove 12s ease infinite;
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes textGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}


/* Button Gradient */

.btn-gradient {
  background: linear-gradient(
    135deg,
   #00364fda,
    #02867b,
    #06b6d4,
    #008b45
  );
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
  color: white;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Background Grid CSS */

.interactive-gradient {
  background: radial-gradient(
    600px circle at var(--x, 50%) var(--y, 50%),
    rgba(34, 211, 238, 0.18),
    transparent 60%
  );
  transition: background-position 0.2s ease;
}

/* Floating Effect */

.animate-float {
      animation: float 4s ease-in-out infinite;
      
    }

@keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
    }




@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spinSlow 6s linear infinite;
}
