@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero Section's text gradient */
.text-gradient {
  background: linear-gradient(
    120deg,
    #710554,
    #02867b,
    #06b6d4,
    #7422ee
  );
  background-size:200% 200%;
  animation: textGradientMove 10s ease infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes textGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Button Gradient */

.btn-gradient {
  background: linear-gradient(
    110deg,
    #710554c4,
    #02867b,
    #06b6d4,
    #7422ee
  );
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
  color: white;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Background Grid CSS */

.interactive-gradient {
  background: radial-gradient(
    600px circle at var(--x, 50%) var(--y, 50%),
    rgba(34, 211, 238, 0.18),
    transparent 60%
  );
  transition: background-position 0.2s ease;
}

/* Floating Effect */

.animate-float {
      animation: float 4s ease-in-out infinite;
    }

@keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
    }


/* Button Border Animation */
@keyframes border-run {
  0%   { clip-path: inset(0 100% 0 0); }
  25%  { clip-path: inset(0 0 100% 0); }
  50%  { clip-path: inset(100% 0 0 0); }
  75%  { clip-path: inset(0 0 0 100%); }
  100% { clip-path: inset(0 100% 0 0); }
}

@keyframes border-run-reverse {
  0%   { clip-path: inset(100% 0 0 0); }
  25%  { clip-path: inset(0 0 0 100%); }
  50%  { clip-path: inset(0 100% 0 0); }
  75%  { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(100% 0 0 0); }
}

.animate-border-run {
  animation: border-run 10s linear infinite;
}

.animate-border-run-reverse {
  animation: border-run-reverse 10s linear infinite;
}

